body {
	background-color: #cccccc;
}

textarea {
	margin-top: 10px;
	margin-bottom: 10px;
	width : 250px;
	height: 100px;
}

.container {
	padding: 5px ;
	background-color: white;
	display: block;
}

.mr-3{
	margin: 10px;
}
